# --- shared ---
export WIKI_URL=https://stream.wikimedia.org/v2/stream/recentchange
export WIKI_USER_AGENT=your_agent
export REDPANDA_TOPIC=wiki.recentchange.proto
export REDPANDA_GROUP=wiki-stats-proto

# --- producer only ---
export PRODUCER_PORT=7002

# --- consumer only ---
export CONSUMER_PORT=7001

# --- Database backend ---
export DB_BACKEND=cassandra  # cassandra | in-memory
export STATS_FLUSH_INTERVAL=10s          # how often stats are appended to the DB 

# --- Cassandra (used only when DB_BACKEND=cassandra) ---
export CASSANDRA_HOSTS=127.0.0.1        
export CASSANDRA_KEYSPACE=wikistream
export CASSANDRA_CONSISTENCY=QUORUM      # QUORUM for dev single-node SimpleStrategy
export CASSANDRA_TIMEOUT=5s

# --- Auth / JWT ---
export JWT_SECRET=some_generated_secret  # Tou can use https://jwtsecretkeygenerator.com/ for it
export JWT_ISSUER=wiki-stream-go
export ACCESS_TOKEN_TTL=1h
export BCRYPT_COST=12                    # 10..31

export LOGGER=DEBUG # DEBUG | PROD

export GRAFANA_USER=admin
export GRAFANA_PASSWORD=admin
export GF_USERS_ALLOW_SIGN_UP=true